<div class="my-8 md:my-24 px-4 md:px-36 flex flex-col md:flex-row items-start justify-center md:items-center md:justify-between">
    <h1 class="title text-5xl md:text-7xl">Work</h1>
    <div class="mt-4 md:mt-0 flex flex-row items-center justify-center">
        <a class="link text-2xl md:text-3xl mr-4 md:mr-12 " routerLinkActive="active" [routerLink]="['all-projects']">All projects</a>
        <a class="link text-2xl md:text-3xl" routerLinkActive="active" [routerLink]="['type-of-work']">Type of work</a>
    </div>
</div>

<router-outlet></router-outlet>