// @import "compass/css3";

.transparent {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: 10000;
}

.navbar-inverse {
  background-color: var(--primary-bg) !important;
}

nav,
a {
  transition: background 0.25s ease-in-out;
}

#menu_checkbox {
  display: none;
}

label {
  right: 0;
  display: block;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transform: scale(0.5);
}

label:before {
  content: "";
  position: fixed;
  top: 2rem;
  right: 2rem;
  transition: 1.2s cubic-bezier(0, 0.96, 1, 0.02) background-color;
}

label div {
  position: relative;
  top: 0;
  height: 12px;
  background-color: #fff;
  margin-bottom: 12px;
  transition: 0.3s ease transform, 0.3s ease top, 0.3s ease width,
    0.3s ease right;
  border-radius: 2px;
}

label div:first-child {
  transform-origin: 0;
}

label div:last-child {
  margin-bottom: 0;
  transform-origin: 60px;
}

label div:nth-child(2) {
  right: 0;
  width: 60px;
}

#menu_checkbox:checked+label:before {
  background-color: #4caf50;
}

#menu_checkbox:checked+label div:first-child {
  top: -6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked+label div:last-child {
  top: 6px;
  transform: rotateZ(45deg);
}

#menu_checkbox:checked+label div:nth-child(2) {
  width: 85px;
  top: 0;
  right: 13px;
  transform: rotateZ(-45deg);
}

.-mr-13 {
  margin-right: -13px
}

@media (min-width: 2560px) {
  .transparent {
    padding-left: 20%;
    padding-right: 20%;
  }
}


/* Hamburger icon */
.btn-container {
  height: 30px;
  width: 30px;
  position: relative;
  z-index: 10000;
}
.btn12 {
  height: 100%;
  width: 30px;
  transition-duration: 0.5s;
}
.btn12 .icon {
  transition-duration: 0.5s;
  position: absolute;
  height: 4px;
  width: 30px;
  top: 1rem;
  background: #fff;
}
.btn12 .icon:before {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  content: "";
  top: -10px;
}
.btn12 .icon:after {
  transition-duration: 0.5s;
  position: absolute;
  width: 30px;
  height: 4px;
  background: #fff;
  content: "";
  top: 10px;
}
.btn12.open .icon {
  transition-duration: 0.5s;
  background: transparent;
}
.btn12.open .icon:before {
  transform: rotateZ(45deg) scaleX(1.25) translate(6.5px, 6.5px);
}
.btn12.open .icon:after {
  transform: rotateZ(-45deg) scaleX(1.25) translate(6px, -6px);
}
.btn12:hover {
  cursor: pointer;
}
