.transparent {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
}

.navbar-inverse {
    background-color: #161616 !important;
}

nav, a{
    transition: all 0.25s ease-in-out;
}