<div class="px-4 md:px-36">
  <h1 class="title text-5xl md:text-7xl my-8 md:my-24">Contact</h1>

  <div class="flex justify-between w-full">
    <ul>
      <li
        class="w-full my-6 md:my-8 flex items-center"
        *ngFor="let item of contactInfo"
      >
        <img
          class="product-image w-6 md:w-9 h-auto mr-4 md:mr-12"
          [src]="'../../../../../assets/contact/' + item.icon + '.png'"
        />

        <p *ngIf="item.type === 'text'" class="text-2xl md:text-3xl">{{ item.data }}</p>

        <a [href]="item.link" *ngIf="item.type === 'link'" target="_blank" class="text-2xl md:text-3xl">{{
          item.data
        }}</a>

        <a *ngIf="item.type === 'email'" [href]="'mailto:' + item.link" target="_blank" class="text-2xl md:text-3xl">{{
          item.data
        }}</a>
      </li>
    </ul>
  </div>
</div>
