.show-description {
    background-color: black;
    opacity: 0.3;
    transform: scale(1.1);
}

.image-shadow-wrapper {
    max-height: 40rem;
}

@media (max-width: 640px) {
    .image-shadow-wrapper {
        height: 20rem;
    }

    .product-image {
        height: 100%
    }
}
