<div class="px-4 md:px-36">

    <div class="my-8 md:my-24">
        <h1 class="title text-5xl md:text-7xl my-8 md:my-24 font-bold">About</h1>
        <p class="w-full text-justify md:text-start">{{ introductionText }}</p>
    </div>

    <div>
        <h3 class="text-4xl md:text-5xl mb-12 md:mb-24 font-bold">Work experience</h3>
        <div class="flex flex-col md:flex-row items-center md:items-start mb-8 md:mb-24" *ngFor="let item of workExperience">
            <img class="mb-4 md:mb-0" [src]="'../../../assets/about/' + item.companyName +'.png'">
            <div class="md:ml-12">
                <h3 class="text-4xl md:text-5xl mb-2 md:mb-3 font-bold">{{ item.position }}</h3>
                <p class="mb-2 md:mb-3">{{ item.companyName }} -{{ item.type }}</p>
                <p class="dark-text mb-2 md:mb-3">{{ item.time }}</p>
                <ul>
                    <li *ngFor="let task of item.tasks">{{ task }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <h3 class="text-4xl md:text-5xl text-center md:text-left my-12 md:my-24 font-bold">Education</h3>
        <div class="flex flex-col md:flex-row items-center md:items-start mb-12 md:mb-24" *ngFor="let item of educations">
            <img class="mb-4 md:mb-0" [src]="'../../../assets/about/' + item.name +'.png'">
            <div class="md:ml-12 text-center md:text-left">
                <h3 class="text-4xl md:text-5xl mb-2 md:mb-3 font-bold">{{ item.name }}</h3>
                <p class="dark-text mb-2 md:mb-3">{{ item.time }}</p>
            </div>
        </div>
    </div>
</div>