<div class="px-12">

    <h1 class="title my-10">About</h1>

    <p>Hello, my name is Andrija. I am a professional graphic designer with over 2 years of experience. I have
        experience in designing Business cards, Letterheads, Logos, Flyers, Social media posts, Products, Web sites and
        web applications. I use Figma, Adobe Xd, Illustrator, Photoshop, InDesign, Premiere Pro and After Effects to
        design the graphics for you. Not only that, but I will provide high-quality work that will make all of my
        clients happy. I will complete many projects with customer satisfaction. If you have work related to my skills,
        then contact me.</p>

    <div>
        <h3 class="section-title my-8">Work experience</h3>
        <div class="flex items-start pb-8" *ngFor="let item of workExperience">
            <img [src]="'../../../assets/about/' + item.companyName +'.png'">
            <div class="ml-6">
                <h3 class="section-title mb-2">{{ item.position }}</h3>
                <p class="mb-2">{{ item.companyName }} -{{ item.type }}</p>
                <p class="time-duration mb-2">{{ item.time }}</p>
                <ul>
                    <li *ngFor="let task of item.tasks">{{ task }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <h3 class="section-title my-8">Education</h3>
        <div class="flex items-start pb-8" *ngFor="let item of educations">
            <img [src]="'../../../assets/about/' + item.name +'.png'">
            <div class="ml-6">
                <h3 class="section-title mb-2">{{ item.name }}</h3>
                <p class="time-duration mb-2">{{ item.time }}</p>
            </div>
        </div>
    </div>
</div>