<div class="px-36">

    <h1 class="title text-7xl my-24 font-bold">About</h1>

    <p class="my-24">{{ introductionText }}</p>

    <div>
        <h3 class="section-title mb-24 font-bold">Work experience</h3>
        <div class="flex items-start mb-24" *ngFor="let item of workExperience">
            <img [src]="'../../../assets/about/' + item.companyName +'.png'">
            <div class="ml-12">
                <h3 class="section-title mb-3 font-bold">{{ item.position }}</h3>
                <p class="mb-3">{{ item.companyName }} -{{ item.type }}</p>
                <p class="dark-text mb-3">{{ item.time }}</p>
                <ul>
                    <li *ngFor="let task of item.tasks">{{ task }}</li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <h3 class="section-title my-24 font-bold">Education</h3>
        <div class="flex items-start mb-24" *ngFor="let item of educations">
            <img [src]="'../../../assets/about/' + item.name +'.png'">
            <div class="ml-12">
                <h3 class="section-title mb-3 font-bold">{{ item.name }}</h3>
                <p class="dark-text mb-3">{{ item.time }}</p>
            </div>
        </div>
    </div>
</div>