/* phone menu */
.phone-menu {
  background: var(--primary-bg);
  z-index: 100;
  right: 100%;
  top: 0;
  transition: all 0.15s ease-in-out;
  padding-top: calc(74px + 30px);
  height: 100vh;
  overflow: hidden;
}

.phone-menu-active {
  right: 0;
}

.phone-link {
  font-size: 3rem;
  opacity: 0;
  transition: all 0.5s ease-in;
  margin-bottom: 1.5rem;
}

.phone-link-show {
  opacity: 1;
}

.phone-menu-no-scroll {
  overflow: hidden;
  height: 100vh;
}