/* phone menu */
.phone-menu {
  background: var(--primary-bg);
  z-index: 100;
  right: 100%;
  top: 0;
  transition: all 0.25s ease-in-out;
}

.phone-menu-active {
  right: 0;
}

.phone-link {
  opacity: 0;
  transition: all 2.25s ease-in;
}

.phone-link-show {
  opacity: 1;
}