<ng-container *ngIf="{ phoneMenu: phoneMenu$ | async } as menu">
  <div class="w-full h-full min-h-screen min-w-screen bg-color relative application-wrapper">
    <app-navbar></app-navbar>

  <router-outlet></router-outlet>

  <app-footer></app-footer>

  <ng-container *ngIf="{ phoneMenu: phoneMenu$ | async } as menu">
    <div class="phone-menu flex flex-col items-center justify-center fixed w-screen h-screen opacity-90"
      [ngClass]="{ 'phone-menu-active': menu.phoneMenu }">
      <button (click)="phoneNavigation('work')" class="phone-link" [ngClass]="{ 'phone-link-show': menu.phoneMenu }"
        routerLink="./work">
        Work
      </button>
      <button (click)="phoneNavigation('about')" class="phone-link" [ngClass]="{ 'phone-link-show': menu.phoneMenu }"
        routerLink="./about">
        About
      </button>
      <button (click)="phoneNavigation('contact')" class="phone-link" [ngClass]="{ 'phone-link-show': menu.phoneMenu }"
        routerLink="./contact">
        Contact
      </button>
    </div>
  </ng-container>
</div>
