<div class="h-screen carousel-wrapper relative">
    <ng-carousel
        #carouselRef="ngCarousel"
        [config]="config"
        (itemIndexChange)="setItemIndex($event)"
        class="carousel-block relative overflow-hidden">
        <ng-template
            [ngCarouselSlide]="carouselRef"
            let-item
            let-active="isActive">
            <div class="carousel-slide grabbable max-h-screen w-auto">
                <img class="h-screen w-screen" [src]="getImageSrc(item.name)">
            </div>
        </ng-template>
    </ng-carousel>

    <div class="control-panel absolute bottom-6 md:bottom-8 w-full flex justify-center">
        <button
            *ngFor="let item of config.items; index as i;"
            [class.active]="i === itemIndex"
            (click)="carouselRef.setIndex(i)"
            class="bullet-button mr-2 md:mr-4 p-1.5 md:p-2.5"></button>
    </div>
    
</div>