.active {
  background-color: white !important;
  transform: rotate(45deg);
}

.carouse-slide {
  /* overflow: hidden !important; */
}

.bullet-button {
  background-color: #929292;
  border-radius: 2px;
  transition: all 0.25s ease-in-out;
}
