.active {
  background-color: white !important;
  transform: rotate(45deg);
}

@media (min-width: 1560px) {
  .carousel-wrapper {
    height: auto;
  }  
}

.bullet-button {
  background-color: #929292;
  border-radius: 2px;
  transition: all 0.25s ease-in-out;
}
