/* You can add global styles to this file, and also import other style files */
@tailwind base;
/* @tailwind components; */
@tailwind utilities;

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Carot Display' !important;
    font-size: 1.875rem;
    line-height: 2.25rem;
    color: white
}

:root {
    --primary-bg: #161616;
    --darken-text: #929292
}

html {
    font-size: 14px;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

body {
    /* height: calc(100vh - (111px + 137px)); */
    width: 100vw !important;
    overflow-y: auto;
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    display: none;
}

.bg-color {
    background-color: var(--primary-bg);
}

.title {
    font-weight: 700 !important;
}

.px-36 {
    padding-right: 9.375rem;
    padding-left: 9.375rem;
}

ul {
    margin: none;
}

.dark-text {
    color: var(--darken-text);
}

/* Navigation styles start */
.link {
    font-weight: 700;
    color: var(--darken-text);
}

.active,
.link:hover {
    color: white;
}

.image-shadow-wrapper {
    max-height: 40rem;
    transition: all 0.25s ease-in-out;
}

.image-shadow-wrapper:hover .product-image,
.image-shadow-wrapper:active .product-image {
    background-color: black;
    opacity: 0.3;
    transform: scale(1.1);
}

.image-shadow-wrapper:hover .description,
.image-shadow-wrapper:active .description {
    opacity: 1;
    display: flex;
    pointer-events: all;

}

.product-image {
    transition: all 0.25s ease-in-out
}

.description {
    opacity: 0;
    z-index: 1000;
    /* font-size: 1.5rem; */
    transition: all 0.25s ease-in-out;
    pointer-events: none;
}

/* mat icons */
.mat-icon {
    font-family: 'Material Icons';
}

.z-200 {
    z-index: 200;
}

@media (min-width: 2560px) {
    .application-wrapper {
        padding: 0 15% !important;
    }
}