<h1 class="md:mb-12 mb-4 md:px-36 px-4 md:text-5xl text-3xl">{{ type }}</h1>
<div class="relative height overflow-hidden">
  <ng-carousel
    #carouselRef="ngCarousel"
    [config]="config"
    class="carousel-block type-of-work-carousel"
  >
    <ng-template [ngCarouselSlide]="carouselRef" let-item>
      <div
        class="carousel-slide grabbable md:mr-8 md:mr-4 image-shadow-wrapper items-center justify-center overflow-hidden flex h-full relative"
        (click)="viewProduct(item.name)"
        ngCarouselPreventGhostClick
      >
        <p
          [id]="item.shortDescription"
          class="description absolute flex w-full justify-center items-center"
        >
          {{ item.shortDescription }}
        </p>
        <img
          class="hidden md:flex product-image w-full"
          [src]="dataService.getImageSrc(baseImageSrc, item.name)"
          [alt]="item.name"
        />
        <img
          class="flex md:hidden product-image h-full"
          [src]="dataService.getImageSrc(baseImageSrc, item.name)"
          [alt]="item.name"
        />
      </div>
    </ng-template>
  </ng-carousel>

  <div
    *ngIf="wantedProducts.length >= 2"
    class="control-panel absolute left-0 right-0 top-0 bottom-0 w-full px-4 md:px-8 md:px-12 flex justify-between items-center pointer-events-none"
  >
    <button
      (click)="carouselRef.prev()"
      class="carousel-button p-4 flex items-center justify-center pointer-events-auto"
    >
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button
        
      (click)="carouselRef.next()"
      class="carousel-button p-4 flex items-center justify-center pointer-events-auto"
    >
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
