.height {
    /* height: 25rem !important; */
    overflow: hidden !important;
}

// @media (max-width:650px) {
//     .height {
//         height: 20rem !important;
//     }
// }

.carousel-button {
    opacity: 0.8;
    background-color: var(--primary-bg);
}

.grabbable {
    cursor: pointer;
}
.grabbable:active {
    cursor: grabbing;
}
/* 
::ng-deep .type-of-work-carousel li:last-child .carousel-slide {
    margin-right: 0;
} */