<div class="relative">
    <h1 class="mb-12 side-padding">{{ type }}</h1>
    <ng-carousel
        #carouselRef="ngCarousel"
        [config]="config"
        class="carousel-block">
        <ng-template
            [ngCarouselSlide]="carouselRef"
            let-item>
            <div class="carousel-slide grabbable mr-12">
                <img [src]="'../../../../../assets/products/' + item.name + '/' + item.name + '.png'" [alt]="item.name">
            </div>
        </ng-template>
    </ng-carousel>   

    <div *ngIf="wantedProducts.length > 2" class="control-panel absolute left-0 right-0 top-0 bottom-0 w-full px-12 flex justify-between items-center">
        <button
            (click)="carouselRef.prev()"
    
            class="carousel-button p-4 flex items-center justify-center">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <button
            (click)="carouselRef.next()"
            class="carousel-button p-4 flex items-center justify-center">
            <mat-icon>navigate_next</mat-icon>
        </button>
    </div>
</div>