<div class="w-full h-full">
  <ng-container
    *ngFor="
      let group of wantedProductList;
      let index = index;
      trackBy: identify
    "
  >
    <ul
      class="flex flex-col md:flex-row items-center md:items-stretch gap-4 md:gap-8 mb-4 md:mb-8"
    >
      <li
        *ngFor="let image of group; let index = index; trackBy: identify"
        [ngClass]="{ bigger: !isMobile && image.isBigger, smaller: !isMobile && !image.isBigger }"
        class="h-auto overflow-hidden image-shadow-wrapper flex items-center justify-center relative"
      >
        <p
          [id]="image.shortDescription"
          class="description font-bold absolute flex w-full justify-center items-center"
        >
          {{ image.shortDescription }}
        </p>
        <a
          [routerLink]="['../', 'view', image.name]"
          class="overflow-hidden flex h-full w-full"
        >
          <img
            class="product-image h-full w-full"
            [src]="dataService.getImageSrc(baseImageSrc, image.name)"
            [alt]="image.description"
          />
        </a>
      </li>
    </ul>
  </ng-container>
</div>
