.height {
    height: 28rem;
}

@media (min-width: 2560px) {
    .height {
        height: 30rem;
    }
}

@media (max-height: 450px) and (max-width: 1200px) {
    .height {
        height: 30rem;
    }
}

@media (max-width: 650px) {
    .height {
        height: 35rem;
    }
}

.bigger {
    width: 55%;
}

.smaller {
    width: 45%;
}